<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href = "https://fontawesome.com/v5/search?o=r&m=free" rel = "stylesheet"/>
    <link href="css/styles.css" rel="stylesheet">

    <title>Bienvenido a Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="header-pager">
            <div class="logo-page">
                <div class="logo-page__picture">
                    <img src="./images/logo-mercado-liebre.svg" alt= "logo">
                </div>
                <div class="logo-page__searchbar"> 
                    <div class="logo-page__searchbar--grupo">
                        <input class="logo-page__searchbar--input" type="text" name="Buscar" placeholder="Buscar productos...">
                        <i class="fas fa-search logo-page__searchbar--iconoBusqueda" ></i>
                    </div>
                </div>
                <div class="logo-page__slogan">
                    <p class="logo-page_slogan--text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            
            <div class="lista-navegacion">
                <div class="lista-navegacion__webpage">
                    <ul class="lista-navegacion__webpage--lista">
                        <div>
                            <li><a href="/">Ofertas</a></li>
                        </div>
                        <div>
                            <li><a href="/">Tiendas Oficiales</a></li>
                        </div>
                        <div>
                            <li><a href="/">Vender</a></li>
                        </div>
                        <div>                        
                            <li><a href="/">Ayuda</a></li>    
                        </div>
                        <div>                                                                                  
                    </ul>
                </div>

                <div class="lista-navegacion__user">
                    <ul class="lista-navegacion__user--lista">                       
                        <div>
                            <li><a href="/register">Creá tu cuenta </a><i class="fas fa-id-card"></i></li>
                        </div>
                        <div>
                            <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                        </div>
                        <div>
                            <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                        </div>
                    </ul>
                </div>
            </div>
            
            <div class="divBurger">
                <i class="fas fa-bars"></i>
            </div>
            <div class="banner__div">
                <img class="banner" src="./images/img-home-banner.jpg" alt= "banner">
            </div>
        </div>
    </header>
    <main>
        <section class="seccionUltimaVisita">
            <h2 class="infoProducto">Basado en tu última visita</h2>
            <div class="articulosBox">
                <article class="producto">
                    <img class="imaProducto"src="./images/img-cafetera-moulinex.jpg" alt= "cafetera">
                    <div class="DescProducto">   
                        <i class="fas fa-truck"></i>
                        <p class="infoProducto precio">$6.770</p>
                        <p class="infoProducto Descuento">40% off</p>
                    </div>
                    <h4 class="infoProducto Description">Cafetera Moulinex</h4>
                </article>

                <article class="producto">
                    <img class="imaProducto" src="./images/img-macbook-pro-2019.jpg" alt= "macbook"  >
                    <div class="DescProducto">   
                        <i class="fas fa-truck"></i>
                        <p class="infoProducto precio">$230.000</p>
                        <p class="infoProducto Descuento">20% off</p>
                    </div>
                    <h4 class="infoProducto Description">MacBook Pro 2019</h4>
                </article>            
                <article class="producto">
                    <img class="imaProducto" src="./images/img-samsung-galaxy-s10.jpg" alt= "samsung-galaxy-s10" >
                    <div class="DescProducto">  
                        <i class="fas fa-truck"></i>           
                        <p class="infoProducto precio">$70.500</p>
                        <p class="infoProducto Descuento">10% off</p>
                    </div>
                    <h4 class="infoProducto Description">Samsung Galaxy S10</h4>
                </article>    
                <article class="producto">
                    <img class="imaProducto"src="./images/img-tv-samsung-smart.jpg" alt= "tv-samsung-smart">
                    <div class="DescProducto">  
                        <i class="fas fa-truck"></i>
                        <p class="infoProducto precio">$23.200</p>
                        <p class="infoProducto Descuento">5% off</p>
                    </div>
                    <h4 class="infoProducto Description">SmartTv Samsung 43"</h4>
                </article>    
            </div>            
        </section>
        <section class="seccionUltimaVisita">
            <h2 class="infoProducto">Sección de Ofertas</h2>
            <div class="articulosBox">
                <article class="producto">
                    <img class="imaProducto"src="./images/img-cafetera-moulinex.jpg" alt= "cafetera">
                    <div class="DescProducto">   
                        <i class="fas fa-truck"></i>
                        <p class="infoProducto precio">$6.770</p>
                        <p class="infoProducto Descuento">40% off</p>
                    </div>
                    <h4 class="infoProducto Description">Cafetera Moulinex</h4>
                </article>

                <article class="producto">
                    <img class="imaProducto" src="./images/img-macbook-pro-2019.jpg" alt= "macbook"  >
                    <div class="DescProducto">   
                        <i class="fas fa-truck"></i>
                        <p class="infoProducto precio">$230.000</p>
                        <p class="infoProducto Descuento">20% off</p>
                    </div>
                    <h4 class="infoProducto Description">MacBook Pro 2019</h4>
                </article>            
                <article class="producto">
                    <img class="imaProducto" src="./images/img-samsung-galaxy-s10.jpg" alt= "samsung-galaxy-s10" >
                    <div class="DescProducto">  
                        <i class="fas fa-truck"></i>           
                        <p class="infoProducto precio">$70.500</p>
                        <p class="infoProducto Descuento">10% off</p>
                    </div>
                    <h4 class="infoProducto Description">Samsung Galaxy S10</h4>
                </article>    
                <article class="producto">
                    <img class="imaProducto"src="./images/img-tv-samsung-smart.jpg" alt= "tv-samsung-smart">
                    <div class="DescProducto">  
                        <i class="fas fa-truck"></i>
                        <p class="infoProducto precio">$23.200</p>
                        <p class="infoProducto Descuento">5% off</p>
                    </div>
                    <h4 class="infoProducto Description">SmartTv Samsung 43"</h4>
                </article>    
            </div>            
        </section>       
     </main>
    <footer class="TituloPie">
        <Section >
            <i class="fas fa-credit-card iconoFooter"></i>
            <h3> Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </Section>
        <Section>
            <i class="fas fa-gift iconoFooter"></i>         
            <h3 >Envío gratis desde $ 2.500</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </Section>
        <Section>
            <i class="fas fa-user-shield iconoFooter"></i>
            <h3 >Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </Section>
        <Section>
            <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
        </Section>       
    </footer>
</body>
</html>