*{ 
    font-family: 'Roboto';
    box-sizing: border-box;
    position: relative;
 }

header{
    background-color:#EAC926 ;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;

}

body{
    font-family: 'Roboto';
}
main{
    background-color: #ebebeb;
  
    margin-top: -20px;
}

/*::::::::::::::::::::::::::::::::::::: HEADER // LOGO Y BARRA BUSQUEDA  :::::::::::::::::::::::::::::::::::::*/

.logo-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo-page__picture{
    width: 50%;
    padding: 5px;
}
.logo-page__picture img{
    width: 100%;
    padding: 0px;
}
.logo-page__searchbar{
    position: relative;
    width: 50%;
    text-align: center;

}
.logo-page_slogan--text{
    font-size: 20px;
}
.logo-page__slogan{
    width: 100%;
    text-align: center;
    padding: 5px;
}
.logo-page__searchbar--grupo{
    position: absolute;
    width: 100%;
}
.logo-page__searchbar--input{
    height: 30px;
    width: 90%;
    font-style: italic;
    padding-left: 10px;
    color: grey;
    border-radius: 6px;
    border:none;
    min-height: 50px;
    font-size: 20px;
}
.logo-page__searchbar--iconoBusqueda{
    color: grey;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 10%;
    font-size: 25px;
    transform: translate(0%,-50%);
}


/*::::::::::::::::::::::::::::::::::::: HEADER // links  :::::::::::::::::::::::::::::::::::::*/


.lista-navegacion{
    display: none;
    justify-content:space-between;
    font-size: 25px;
}



.lista-navegacion__webpage--lista{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.lista-navegacion__user--lista{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.lista-navegacion__user--lista i{
    padding-right: 5px;
}

.lista-navegacion li {
    list-style: none;
    padding: 2px 10px 2px 10px;
}

.fa-hand-holding-usd{
    text-align: center;
}

.fa-bars{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color:#1259c3 ;
    color: white;
    
 }

 div.divBurger{
    text-align: center;
    padding: 2px;
}
ul{
    line-height: 20px;
}



/*::::::::::::::::::::::::::::::::::::: MAIN  :::::::::::::::::::::::::::::::::::::*/
.banner{
    width: 100%;  
    margin-bottom: -5px;
}
.banner__div{
    margin: 0px;
    width: 100%;  

}
.fa-hand-holding-usd{
    text-align: center;
}


/*:::::::::::::::::::::::::::::::::::::footer:::::::::::::::::::::::::::::::::::::::::::*/



.TituloPie{
    text-align: center;
    margin-top: 20px;
}
.titulopie-div{
    display: flex;
    flex-wrap:wrap ;
}

.titulopie-div__seccion{
    width: 100%;
}

.TituloPie p{
   font-weight: bold;
   font-size: 20px;
   margin: 2px;
   padding-left: 40px;
   padding-right: 40px;
}

.TituloPie h3{
    font-weight: bolder;
    font-size: 20px;
    margin: 10px;
 }

.TituloPie i{
    margin-top: 15px;
    font-size: 50px;
    color: #1259c3 ;
}

.copyright{
    border-top-style: solid;
    border-top-color: #ebebeb;    
    border-width: 2px;
    margin-top: 30px;
    font-size: 16px;
    font-style:bolder;
    font-weight: normal;
    text-align: center;
    padding: 5px;
}
.imaProducto{
    text-align:center;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

.producto{
    border-top-width: 1px;
    border-top-color:#b1afaf;
    border-top-style: solid;
    padding: 10px;
    width: 100%;
    margin: 10px; 
    box-shadow: 0px 0px 2px  rgb(100, 100, 100);
    background-color: white;
}


main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:-15px
   }

.infoProducto{
    font-family: 'Roboto';
    padding: 20px 0px 0px 10px;
}

h2.infoProducto{
    color: rgb(100, 100, 100);
    font-size: 25px;
    font-weight:bolder;
    text-align: left;
}
h2.tituloForm{
    color: rgb(100, 100, 100);
    font-size: 25px;
    font-weight:bolder;
    text-align: left;
    font-family: 'Roboto';
    padding: 20px 0px 0px 0px;
}
.precio{
    font-size: 18px; 
    font-weight:bolder;
    margin: 1%;
    flex-grow:0.3;

}
.Descuento{
    font-size: 16px; 
    color: #39b54a;
    font-weight:bolder;
    margin: 1%;
    flex-grow:0.7;
}

.Description{
    color: rgb(72, 72, 72);
    font-size: 16px; 
    font-weight:bolder;
    margin: 1%;
    display: none;
}

.seccionUltimaVisita{
    margin: 5px;
}

.seccionOfertas{
    margin: 5px;
}

.DescProducto{
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
}

.articulosBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}








/*::::::::::::::::::::::::::::::::::::: FORMULARIOS  :::::::::::::::::::::::::::::::::::::*/


.labelForm{
    margin: 1%;
    display: block;
    font-family: 'Roboto' ;
    font-size: 16px;
    font-weight: bolder;
}

.inputForm{
    border: none;
    padding-left: 10px;
    width: 100%;
    min-height: 30px;
    font-family: 'Roboto' ;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 6px;
}

.formButton{
    font-family:'Roboto' ;
    background-color: #1259c3 ;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    border:none;
    text-align:center;
    display: block;
    border-radius: 5px;
    width: 65%;
    padding: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

.divRatio{
    display: block;
}

.labelRatio{
    font-family:'Roboto';
    text-align:center;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 2px;
}

.ratioForm{
    margin-left: 20px;
}

.divBotones{
    text-align:center;
    width: 100%;
    margin-top: 15px;   
}
.divForm {
    position: relative;
    margin-top: 20px;
    max-width: 400px;
    padding: 10px;
    margin: auto;
}

.formLogin__box,.formregister__box{
    padding: 5px 0px 5px 0px;
}

.fa-truck{
    color:#39b54a; ;
    transition: transform 1s;
}

.buttonEnviar {
    transition:background-color 2s;
}


/*::::::::::::::::::::::::::::::::::::: ANIMACIONES  :::::::::::::::::::::::::::::::::::::*/
.producto:hover .Description{
    display:block;
}

.producto:hover {
    box-shadow: 0px 0px 10px  rgb(100, 100, 100);
}

.producto:hover .fa-truck{
    transform: rotate(-90deg);
}

.buttonEnviar:hover {
    background-color:#0022AA;
}

/*::::::::::::::::::::::::::::::::::::: MEDIA QUERY :::::::::::::::::::::::::::::::::::::*/

/*tablet*/
@media (min-width: 361px) {

    .producto{
       
        margin-left: 15px;
        margin-bottom: 15px;
        width: 35%;
    }

   }

   /*Desktop*/ 
@media (min-width: 769px){
    .divBurger{
        display: none;
    }

    .lista-navegacion{
        display: flex;
        justify-content:space-between;
    }
    
    .producto{
       
        margin-left: 15px;
        margin-bottom: 15px;
        width: 20%;
    }
    .articulosBox {
        flex-wrap: wrap;
    }
   
    .logo-page{
        flex-wrap: no wrap;
    }
    .logo-page__picture{
        width: 35%;
    }
    .logo-page__searchbar{
        width: 35%;
        text-align: center;
    }
    .logo-page__slogan{
        width: 30%;
        text-align: right;
    }


    .titulopie-div{
        display: flex;
        flex-wrap:nowrap ;
    }
    
    .titulopie-div__seccion{
        width: 35%;
    }
    

}


